*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
}

.box{
    box-shadow: 0 0 4px 1px rgb(158, 205, 246);
    width: 350px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading{
    color: darkblue;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input label{
    font-size: larger;
    margin-top: 10px;
    padding: 30px;
}
#dob, #cdt{
    width: 140px;
    height: 42px;
    box-shadow: 0 0 2px 1px bisque;
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
    color: rebeccapurple;
    font-size: large;
}
#calDate{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border: beige;
    border-radius: 5px;
    box-shadow: 1px 3px 3px gray;
    cursor: pointer;
    transition: 0.3s;
}
.result{
    margin: 15px 60px;
    padding: 5px 5px;
    justify-content: center;
    text-align: center;
}
#output{
    margin: 33px 10px;
    padding: 5px 5px;
    size: 10px;
    background-color: rgb(243, 245, 235);
}